<h1>The Available Polls: </h1>

<style>
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

</style>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
        <br><a href="{% url 'polls:new_question' %}">Create a new one?</a>
    </ul>
{% else %}
    <p>No polls are available. <a href="{% url 'polls:new_question' %}">Create a new one?</a></p>
{% endif %}
<a href="/">Return home?</a>
